<div class="toppage">
  <div class="container-flaud">
    <div class="row">
      <div class="col-md-9">
        <h1>記事詳細</h1>
        <div class="col-md-11 " style="background-color: white; margin: 0px 30px 10px; border-radius: 10px;">
          <div class="size_test"><%= @article.title %></div>
          <div><%= attachment_image_tag @article, :image, :fill, 1000, 1000, format: 'jpeg', size: '300x300' %>
          </div>
          <div class="size_test">特徴</div>
          <div class="size_test2"><%= @article.description %></div>
        </div>
      </div>
    </div>
  </div>
</div>